
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button class=""></ion-back-button>     
    </ion-buttons>  
    <ion-title>Opciones</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Comer con amigos" src="../../assets/icon/comer_amigos.jpg" />
    <ion-card-header>  
      <ion-card-title>Con amigos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="consentirse" src="../../assets/icon/consentirse.jpg" />
    <ion-card-header>
      <ion-card-title>Consentirse</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Comer en pareja" src="../../assets/icon/comer_pareja.jpg" />
    <ion-card-header>
      <ion-card-title>En pareja</ion-card-title>
    </ion-card-header>
  </ion-card>
  

  <ion-card>
    <img alt="Comer en familia" src="../../assets/icon/comer_familia.jpg" />
    <ion-card-header>
      <ion-card-title>En familia</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
