<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>opciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/comer_amigos.jpg" />
    <ion-card-header>
      <ion-card-title>Con amigos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/consentirse.jpg" />
    <ion-card-header>
      <ion-card-title>Consentirse</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/comer_pareja.jpg" />
    <ion-card-header>
      <ion-card-title>En pareja</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>
